.invalid {
    color: white;
    top: 200px;
    position: absolute;
    font-size: large;
    width: 100%;
    text-align: center;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%; 
    width: 101%;
    position: fixed;
}

.bossInfo {
    color: white;
    position: relative;
    font-size: large;
    width: 70%;
    text-align: center;
}

.weaponAdvice {
    position: relative;
    color: white;
    width: 70%;
    text-align: center;
    font-size: large;
}