
.invalid {
    color: white; /* Text color */
    top: 200px; /* Distance from the top */
    position: absolute; /* Positioned absolutely */
    font-size: large; /* Font size */
    width: 100%; /* Full width */
    text-align: center; /* Center-align text */
}

.bossContainer {
    display: flex; /* Use flexbox */
    flex-direction: column; /* Arrange items in a column */
    justify-content: center; /* Center-align items vertically */
    top: 22%; /* Distance from the top */
    align-items: center; /* Center-align items horizontally */
    width: 100%; /* Full width */
    position: absolute; /* Positioned absolutely */
}

.bossInfo {
    color: white; /* Text color */
    position: relative; /* Positioned relatively */
    font-size: large; /* Font size */
    width: 70%; /* 70% width */
    text-align: center; /* Center-align text */
}

.weaponAdvice {
    position: relative; /* Positioned relatively */
    color: white; /* Text color */
    width: 70%; /* 70% width */
    text-align: center; /* Center-align text */
    font-size: large; /* Font size */
}

.ytvideo {
    overflow: hidden; /* Hide overflowing content */
    padding-bottom: 56.25%; /* Maintain aspect ratio for embedded videos */
    position: relative; /* Positioned relatively */
    height: 0; /* Initial height of 0 */
}
  
.ytvideo iframe {
    left: 0; /* Align iframe to the left */
    top: 0; /* Align iframe to the top */
    height: 100%; /* Full height */
    width: 100%; /* Full width */
    position: absolute; /* Positioned absolutely */
}
  
  